/* Global style */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4f3;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

/*-------------*/

/* Header style */
header {
  padding: 2rem 0;
  text-align: center;
}

header h1 {
  color: #818E93;
  font-size: 1.75rem;
  line-height: 2.0625rem;
}

header h1 span {
  color: #818E93;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.0625rem;
}

header p {
  color: #A6ABAF;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 0.3rem;
}

header,
section {
  margin: 0 auto;
  max-width: 300px;
}

/*-------------*/

/* Font style */
h1,
h2,
h3,
strong {
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  color: #633320;
}

/*-------------*/

/* Section style */
section {
  margin-bottom: 1.5rem;
}

section h2 {
  text-align: center;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.3125rem;
  border-bottom: 1px solid #A6ABAF;
}

/*-------------*/

/* List style */
ul li {
  display: flex;
  margin-bottom: 1rem;
}

li h3,
strong {
  font-size: 1rem;
  max-height: 1.25rem;
  line-height: 1.1875rem;
}

li .description {
  color: #A6ABAF;
  max-width: 240px;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

/*-------------*/

/* Content style */
.container {
  display: grid;
  background-color: #f2f4f3;
  grid-template-columns: 0.566fr 1fr;
}

div .image {
  height: auto;
  width: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=100");
}

.menu {
  height: auto;
  max-width: 75%;
  width: fit-content;
  align-self: center;
  margin: 3.5rem 1.5rem 4rem 7rem;
  background-color: #f2f4f3;
}

/*-------------*/

/* Icon style */
.ph-cake,
.ph-coffee {
  margin-right: 1rem;
  align-items: baseline;
}

/*-------------*/